@{
    ViewData["Title"] = "My Podcast";
}
<br />
<br />
<br />
<br />
<br />
<h2>
    <div class="text-center">
        Listen to <a href="https://baconsale.com/">My Podcast</a>
    </div>
</h2>
<br />
<br />
<div class="text-center">
    <img src="~/img/podcastIllustration.jpg" width="500" />
</div>
